* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-width: 100vw;
  background-color: #0e0f2b;
}

.container {
  height: 90%;
  width: min(800px, 100%);
  padding: 1em;
}

.calculator {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto repeat(5, 1fr);
  gap: 5px;
}

.display {
  grid-column: 1 / span 4;
  background-color: #fff;
  font-size: 3em;
  text-align: right;
  word-wrap: break-word;
  overflow-wrap: break-word;
  border-radius: 5px;
  padding: 5px;
}

#placeholder {
  grid-column: 2 / -1;
  grid-row: 2;
}

.button {
  background-color: #fa853d;
  border: none;
  border-radius: 5px;
  font-size: 2em;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}

.number.button {
  background-color: #9e9495;
  border: none;
  border-radius: 5px;
  font-size: 2em;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}

.operator {
  background-color: #93303a;
}

@media screen and (min-width: 768px) {
  .calculator {
    gap: 10px;
  }

  .display {
    padding: 10px;
  }

  .button {
    padding: 10px;
  }
}
